* text=auto
*.cs text eol=lf
*.shader text eol=lf
*.md text eol=lf
*.unity text eol=lf whitespace=-blank-at-eol
*.asset text eol=lf whitespace=-blank-at-eol
*.meta text eol=lf whitespace=-blank-at-eol
*.png binary
