[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
UserSettings/
*.csproj
*.sln
.DS_Store
*.request
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
[Rr]ecordings/
.vs/
.idea/
*.user
*.pidb
*.booproj
*.opendb
*.VC.db
*.app/
*.zip
.env
.env.*
